name: Lock / Unlock Branch

on:
  workflow_dispatch:
    inputs:
      action:
        description: "Select lock or unlock"
        required: true
        default: "lock"
        type: choice
        options:
          - lock
          - unlock
      branch:
        description: "Branch name"
        required: true
        default: "main"

jobs:
  control-branch:
    runs-on: ubuntu-latest
    steps:
     - name: Lock branch
       id: lock
       uses: JustinDFuller/github-action-lock-branch@v1
       with:
        lock: ${{ github.event.inputs.action == 'lock' }}
        token: ${{ secrets.PAT_TOKEN }}
        branch: ${{ github.event.inputs.branch }}
